.left   {width: 25%; display: table-cell; vertical-align:middle; margin-left:10px; margin-right: 10px; text-align:right; background: blue;}
.middle {width: 100%; display: table-cell; vertical-align:middle; margin-left:10px; margin-right: 10px; background: green;}
.right  {width: 24%; display: table-cell; vertical-align:middle; margin-left:10px; margin-right: 10px; background: yellow;}
.container {width:100%; vertical-align: center; display: table;}


html, body {
    background: black;
}

table, th, td {
    border-collapse: collapse;
    text-align: center;
    color: white;
}
th, td {
    padding: 5px;
    text-align: center;
}
.consolas{
    font-family: 'ConsolasXoloniumRegular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
	margin: 0;
}